<header class="animated full-width app-header" id="react-header">
    <div class="full-width">
        <h1 class="align-left main-title">
            <a class="{{ path('app_dashboard') }}">Langland</a>
        </h1>

        <div id="react-user-profile-bar"></div>


    </div>
</header>