
{% set version = '' %}
{% if app.environment == 'dev' %}
     {% set version = '?v=' ~ random(999999999) %}
{% endif %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}LangLand{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('dist/css/app.css') ~ version }}" />
    {% endblock %}
</head>

<body>

<div class="container-full-width relative">

    {% block content %}{% endblock %}

</div>

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>

    <script src="{{ asset('dist/js/app/bundle.js') ~ version }}"></script>
{% endblock %}

</body>
</html>