<header class="full-width align-left">
    <div class="title-wrapper">
        <h1>Langland</h1>
    </div>

    <div class="profile-wrapper">
        <i class="fa fa-user-o fa-lg"></i>

        <div class="profile-pop">
            <h3>Andrea Raguž</h3>

            <a href="">Profile</a>
            <a href="">Progress</a>
            <a href="">Friends</a>
        </div>
    </div>
</header>