<header class="header full-width align-left">
    <div class="title-wrapper">
        <span class="decorate-border decorate-border-left"></span>
        <h1>Langland</h1>
        <span class="decorate-border decorate-border-right"></span>
    </div>
</header>