.app-header {
  position: absolute;
  background-color: white;

  color:$text-color-gray;

  padding: 20px;

  height: 70px;

  .bar {
    position: relative;

    .menu-button {

      position:relative;
    }

    h2 {
      text-align: center;
      color: $appMainColor;
    }

    button {
      width: 50px;
      display:block;
      position:relative;
      border: none;

      color: $highlight-gray;

      background-color: unset;

      &:hover {
        cursor: pointer;
        color: $appMainColor;
      }
    }

    .bar-popup {
      border-radius: 10px;
      z-index: 100;

      padding: 20px;

      -webkit-box-shadow: 1px 4px 16px -2px rgba(158,158,158,1);
      -moz-box-shadow: 1px 4px 16px -2px rgba(158,158,158,1);
      box-shadow: 1px 4px 16px -2px rgba(158,158,158,1);

      background-color: white;

      a {
        display:block;
        color: $highlight-gray;
        text-align: center;

        margin-top: 15px;

        i {
          display: inline-block;

          margin-right: 20px;
        }
      }

      .bar-line {
        width: 110px;
        padding: 4px;

        margin: 10px 0 10px 0;

        border-radius: 20px;

        background-color: $highlight-gray;
      }
    }

    .bar-popup {
      display:none;
      right: 5px;
    }
  }

  .course-bar {
    .bar-popup {
      width: 230px;
    }

    h1 {
      color: $highlight-gray;

      padding: 10px 10px 5px 0;

      border-bottom: 1px solid $highlight-gray;
    }

    .language-link {
      font-size: 1.1em;
      color: $highlight-gray;

      &:hover {
        font-weight: bold;
        color: $appMainColor;
      }
    }

    .new-language {
      display:block;

      border: 1px solid $highlight-gray;

      padding: 10px;

      border-radius: 20px;

      &:hover {
        border: 1px solid $appMainColor;
        color: $appMainColor;
      }
    }

    .current-course {
      font-weight:bold;
      color: $appMainColor !important;
    }
  }

  .user-bar:hover .bar-popup {
    display:block;
  }

  .course-bar:hover .bar-popup {
    display:block;
  }
}