.language-course-list {
  overflow:hidden;

  background-color: white;

  border-radius: 15px;

  padding: 20px;

  .language {
    width: 200px;
    float: left;

    margin-left: 40px;
  }

  .language-link {
    display:block;
    padding: 50px 50px 50px 50px;

    text-align: center;

    font-family: $mallanna;

    border-bottom: 1px solid $highlight-gray;

    &:hover {
      border-bottom: 1px solid $appMainColor;
    }
  }
}