.main-app-dashboard {
  width: 80%;

  overflow: hidden;

  margin: 0 auto;

  .lesson {
    width: 150px;
    height: 150px;
    float:left;

    background-color: white;

    padding: 0 10px 10px 10px;

    border-radius: 10px;

    margin: 0 2% 0 0;

    h1 {
      color: $appMainColor;
      font-weight: bold;

      margin-top: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .unpassed-lesson {
    @extend .lesson;

    background-color: unset;
    border: 1px solid $highlight-gray;

    h1 {
      color: $highlight-gray;
    }
  }

  .forbidden-overlay {
    right: 1px;

    width: 150px;
    height: 150px;

    z-index: 100;

    &:hover {
      cursor: auto;
    }
  }
}