.main-app-dashboard {
  width: 80%;

  overflow: hidden;

  margin: 0 auto;

  .lesson {
    width: 120px;
    height: 120px;

    margin-left: 10px;

    float:left;

    padding: 50px 20px 20px 23px;

    border-radius: 100px;

    background-color: white;

    h1 {
      color: $appMainColor;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .unpassed-lesson {
    @extend .lesson;

    background-color: unset;

    border: 1px solid $highlight-gray;

    h1 {
      font-weight: normal;
      color: $highlight-gray;
    }

    &:hover {
      cursor: auto;
    }
  }
}