{% extends '::Admin/Course/Lesson/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Lesson working data - create working -data</h1>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('lesson_working_data_create', {'lessonId' : lesson.id}) }}" method="POST" class="form" name="addLanguageForm" novalidate>
                <div class="margin-top-40 align-left full-width">
                    <div class="form-error full-width align-right">
                        {{ form_errors(form) }}
                    </div>

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.wordPools } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.sentences } only %}

                    {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Create'} %}
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}