.main-page.ng-enter, .main-page.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.main-page.ng-enter,
.main-page.ng-leave.ng-leave-active {
  opacity:0;
}

.main-page.ng-leave,
.main-page.ng-enter.ng-enter-active {
  opacity:1;
}

.course-page.ng-enter, .course-page.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.course-page.ng-enter,
.course-page.ng-leave.ng-leave-active {
  opacity:0;
}

.course-page.ng-leave,
.course-page.ng-enter.ng-enter-active {
  opacity:1;
}

.search.ng-enter, .search.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.search.ng-enter,
.search.ng-leave.ng-leave-active {
  opacity:0;
}

.search.ng-leave,
.search.ng-enter.ng-enter-active {
  opacity:1;
}