.word-pool-widget {
  z-index: 100;
}

.andrea-autocomplete-list {
  max-height: 300px;

  overflow: auto;

  a {
    background-color: white;
    display:block;
    font-size: 1.2em;
    color: $text-color-gray;
    padding: 10px;

    z-index: 101;

    border-bottom: 1px dotted $highlight-gray;

    &:hover {
      background-color: $main-color;
      color:white;
    }
  }
}

.andrea-tags {
  border: 1px solid $highlight-gray;

  height: 200px;

  padding: 10px;

  overflow: auto;

  .tag {
    background-color: $main-color;

    display: inline-block;

    color: white;

    padding: 5px;

    margin-right: 10px;

    border-radius: 5px;

    i {
      display: inline-block;

      margin-left: 10px;
    }
  }
}