.error {
  width: 100%;
  font-size: 1.1em;
  color: $main-color;

  padding: 5px;
}

.small-button {
  border:none;
  background: none;

  padding: 5px 5px 5px 0;

  border-bottom: 1px solid $highlight-gray;

  &:hover {
    cursor: pointer;
  }
}

.no-data-message {
  font-size: 2em;
  color: $text-color-gray;

  text-align: center;
}