.nav-menu {
  width: 175px;
}

.nav-menu-container {
  width: 100%;

  background-color: white;

  .nav-link {
    position: relative;
    display:block;
    width: 100%;

    padding: 10px 10px 10px 5px;

    border-bottom: 1px solid $highlight-gray;

    i {
      display:block;
      color: $main-color;
      position:absolute;

      top: 10px;
      left: 150px;
    }
  }

  .nav-link:hover i {
    color:white;
  }

  .nav-link:hover {
    background-color: $main-color;
    color: white;
  }

  .nav-highlighted {
    display:block;
    width: 100%;
    padding: 10px;
    text-align: center;

    border-bottom: 1px solid $highlight-gray;
    color: $text-color-gray;
  }
}