header {
  background-color: $main-color;
  padding: 10px 10px 5px 10px;

  .main-title {
    font-family: $language-font;
    font-size: 2em;

    a {
      color:white;
    }
  }
}


.main-action-link {
  padding: 10px 30px 10px 30px;

  font-size: 1.1em;

  background-color: white;
  color: $text-color-gray;

  border-bottom: 4px solid $highlight-gray;

  &:hover {
    border-bottom: 4px solid $main-color;
    color: $main-color;
  }
}

.base-action-link {
  display:block;
  padding: 10px;

  color: $text-color-gray;
}

.sub-base-action-link {
  color: $subBaseLinkColor;

  padding: 10px;

  margin-left: 20px;

  &:hover {
    color: $subBaseLinkHoverColor;
  }
}

.page {
  .page-title {
    font-size: 1.5em;

    padding: 10px;

    color: $text-color-gray;

    border-bottom: 1px solid $highlight-gray;

    background: white;
  }

  .page-content {
    background-color: white;

    padding: 10px;
  }

  .card {
    border: 1px solid white;

    &:hover {
      border-bottom: 1px solid $highlight-gray;
    }

    &:hover .base-action-link {
      color: $main-color;
    }
  }
}

.modal-container {
  width: 100%;

  textarea {
    resize: none;
  }

  .nav-container {
    width: 100px;
    margin-left: 20px;
  }

  .modal-highlight-breakpoint {

    border-bottom: 1px solid $highlight-gray;

    padding: 5px 5px 5px 0;
  }

  .remove-translation {
    top: 28px;
    right: 10px;

    color: $highlight-gray;
  }

  .remove-translation:hover {
    color: $main-color;
  }

  .nav-link {
    display:block;
    width: 100%;
    padding: 5px;
    text-align: center;

    border-bottom: 1px solid $highlight-gray;
    color: $text-color-gray;
  }

  .nav-text-input {
    display:block;
    width: 100%;

    padding: 5px;

    font-size: 1.04em;
    font-family: $app-font;
  }

  .nav-button-small {
    width: 35%;
    font-size: 0.8em;

    background:none;
    border:none;

    padding: 3px;

    text-align: right;
    color: $highlight-gray;
  }

  .nav-button-small:hover {
    text-decoration: underline;
    cursor:pointer;
    color: $text-color-gray;
  }

  .collapseable {
    position:relative;

    i {
      display:block;
      width: 100%;
      float:left;

      font-size: 0.6em;
      font-style: italic;

      line-height: 1.4em;
    }
  }

  .language-error {
    font-size: 0.9em;
    color: $main-color;
  }
}