@media only screen and (max-width: 480px) {
  .nav-menu {
    width: 100%;
  }

  .nav-menu-container {
    .nav-link {
      font-size: 1.2em;

      padding: 15px 15px 15px 10px;

      i {
        top: 15px;
        left: 400px;
      }
    }

    .nav-highlighted {
      font-size: 1.2em;

      padding: 15px 15px 15px 10px;
    }
  }

  .language-dropdown {
    margin-top: 30px;
  }

  .wrap-dd-select {
    width: 100%;
    font-size: 1.2em;

    text-align: center;
    padding: 15px 15px 15px 10px;
  }


  .search {
    .search-container {
      .autocomplete-search {
        width: 350px;
      }
    }

    .no-words-message {
      font-size: 1.2em !important;
      color: $text-color-gray;

      text-align: center;

      margin-top: 20px !important;
    }

    .search-list {
      .search-list-item {
        width: 100% !important;

        margin-bottom: 30px !important;
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 712px) {
  .nav-menu-container {
    .nav-link {
      font-size: 1.2em;

      padding: 15px 15px 15px 10px;

      i {
        top: 15px;
        left: 400px;
      }
    }

    .nav-highlighted {
      font-size: 1.2em;

      padding: 15px 15px 15px 10px;
    }
  }

  .nav-menu {
    width: 500px;
    float:none;

    margin: 0 auto;

    .language-dropdown {
      margin-top: 30px;
    }

    .wrap-dd-select {
      width: 100%;
      font-size: 1.2em;

      text-align: center;
      padding: 15px 15px 15px 10px;
    }
  }

  .search {
    .search-container {
      .autocomplete-search {
        width: 480px;
      }
    }

    .no-words-message {
      font-size: 1.2em !important;
      color: $text-color-gray;

      text-align: center;

      margin-top: 20px !important;
    }

    .search-list {
      .search-list-item {
        width: 100% !important;

        margin-bottom: 30px !important;
      }
    }
  }
}