.search {
  .search-container {
    .button-wrapper {
      .left-button {
        text-align: left;
      }

      .left-loading {
        left:105px;
      }

      button {
        background: white;

        &:hover {
          background-color: $main-color;
          color:white;

          cursor: pointer;
        }
      }
    }

    .autocomplete-search {
      width: $min-width;

      input[type=text] {
        padding: 10px;
        font-size: 1.5em;

        font-family: $app-font;

        border-radius: 5px;
        border:1px solid $highlight-gray;
      }
    }

    .loadMore {
      width: 200px;

      border: none;

      text-align: center;

      color: $text-color-gray;
      background: white;
      font-size: 1.2em;

      padding: 5px;

      font-family: $app-font;
      border-bottom: 1px solid $main-color;
    }

    .loadMore:hover {
      cursor: pointer;
    }

    .search-list {
      .search-list-item {
        width: 240px;

        margin-left: 13px;

        h2 {
          white-space: initial;
          word-wrap: break-word;
          text-align: center;
          background-color: white;
          color: $text-color-gray;
          font-size: 1.8em;

          padding: 5px;

          border-radius: 5px;

          .remove-button, .loading {
            left: 210px;

            color: $highlight-gray;
          }

          .loading {
            display:block;
            width: 25px;
            height: 25px;

            top: 7px;
          }

          .remove-button:hover i {
            color: $main-color;
          }
        }
      }

      p {
        word-wrap: break-word;
        white-space: initial;
        font-style: italic;
        color: $text-color-gray;
      }

      .word-type {
        border-bottom: 1px dotted $highlight-gray;
        padding-bottom: 2px;
      }

      .type-not-specified {
        color: $main-color;
      }

      .translations {
        p {
          width: 80%;

          margin-left: 10%;
        }
      }
    }
  }
}