<nav>
    <div class="align-left nav-menu">
        <div class="align-left nav-menu-container">
            <a href="{{ path('lesson_index', {'courseId' : course.id}) }}" class="nav-link">Lessons<i class="fa fa-comments-o"></i></a>
            <a href="{{ path('sentence_index', {'courseId' : course.id}) }}" class="nav-link">Sentences<i class="fa fa-header"></i></a>
            <a href="#" class="nav-link">Word pool<i class="fa fa-file-word-o"></i></a>
        </div>

        <div class="full-width nav-menu nav-menu-container margin-top-20 margin-bottom-20 align-left">
            <a href="{{ path('armor_admin_logout') }}" target="_self" class="nav-link">Logout<i class="fa fa-sign-out"></i></a>
        </div>
    </div>
</nav>