/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea
/lib/bluedot/
/node/node_modules
/web/uploads
/web/node_modules
/web/node_modules/.yarn-integrity
/web/.babelrc
/web/css/.sass-cache
/web/css/app
/web/css/framework
/web/css/lib
/web/css/public


