<div class="row">
    <div class="col-sm-10">
        {{ form_errors(form) }}
        <form role="form" action="{{ path('admin_category_create') }}" method="POST" class="form" name="addLanguageForm" enctype="multipart/form-data"  novalidate>

            {% include '::Admin/Template/Form/flashNotice.html.twig' %}

            {% include '::Admin/Template/Form/field.html.twig' with {'field': form.name, 'description': 'add category for a word' } only %}

            {% include '::Admin/Template/Form/simpleButton.html.twig' with {'text': 'Create'} %}

            {{ form_rest(form) }}
        </form>
    </div>
</div>