{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Courses - create new course</h1>
        </div>

        {% if no_language is defined %}
            <p class="full-width align-left no-data-message margin-top-30">There are no created languages</p>
        {% endif %}

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('course_create') }}" method="POST" class="form" name="addCourseForm" enctype="multipart/form-data" novalidate>
                <div class="margin-top-40 align-left full-width">
                    <div class="form-error full-width align-right">
                        {{ form_errors(form) }}
                    </div>

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field' : form.language} only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field' : form.name} only %}

                    {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Create'} %}
                </div>

                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}