{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language margin-bottom-50">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Courses - edit <span class="text-highlight">{{ course.name }}</span> course</h1>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('course_edit', {'id': course.id}) }}" method="POST" class="form" name="addCourseForm" enctype="multipart/form-data" novalidate>
                <div class="margin-top-40 align-left full-width">
                    <div class="form-error full-width align-right">
                        {{ form_errors(form) }}
                    </div>

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.language } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field' : form.whatToLearn} only %}

                    {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Edit'} %}
                </div>

                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}