{% extends '::App/base.html.twig' %}

{% block content %}
    <div id="main_content">
        {% include ':App:header.html.twig' %}

        <div id="react_language_list"></div>

{#        <div class="languages-wrapper">
            <div class="language">
                <div class="title-wrapper">
                    <span class="icon"></span>
                    <h1>French</h1>
                </div>

                <div class="description-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra porta dui, ut sollicitudin leo pretium eget. Vestibulum lacinia a libero sed luctus. Phasellus vitae augue tortor. Praesent laoreet consectetur auctor. Sed a massa lacus. Etiam sollicitudin, felis non laoreet faucibus, leo nibh accumsan massa, ac lobortis tellus risus in dui. Aenean imperdiet sem ut dictum venenatis. Fusce rhoncus sodales turpis in sodales. Donec volutpat pharetra erat vel sollicitudin. Nullam fermentum egestas eros commodo dignissim. Nunc ac interdum ante, ac tristique mauris. Quisque non quam sed velit vehicula euismod eget eu tortor. Fusce ligula felis, placerat eget tortor at, aliquam feugiat lacus. Phasellus tempor porttitor diam ac posuere.</p>
                </div>

                <div class="image-wrapper">
                    <img src="{{ asset('images/andrea.jpg') }}" />
                </div>

                <div class="button-wrapper">
                    <button>Start learning</button>
                </div>
            </div>

            <div class="language">
                <div class="title-wrapper">
                    <span class="icon"></span>

                    <h1>French</h1>
                </div>

                <div class="description-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra porta dui, ut sollicitudin leo pretium eget. Vestibulum lacinia a libero sed luctus. Phasellus vitae augue tortor. Praesent laoreet consectetur auctor. Sed a massa lacus. Etiam sollicitudin, felis non laoreet faucibus, leo nibh accumsan massa, ac lobortis tellus risus in dui. Aenean imperdiet sem ut dictum venenatis. Fusce rhoncus sodales turpis in sodales. Donec volutpat pharetra erat vel sollicitudin. Nullam fermentum egestas eros commodo dignissim. Nunc ac interdum ante, ac tristique mauris. Quisque non quam sed velit vehicula euismod eget eu tortor. Fusce ligula felis, placerat eget tortor at, aliquam feugiat lacus. Phasellus tempor porttitor diam ac posuere.</p>
                </div>

                <div class="image-wrapper">
                    <img src="{{ asset('images/andrea.jpg') }}" />
                </div>

                <div class="button-wrapper">
                    <button>Start learning</button>
                </div>
            </div>
        </div>#}
    </div>
{% endblock %}