.lesson-dashboard {
  width: 1020px;
  float:left;

  background-color: white;

  padding: 10px;

  border-radius: 10px;

  .lesson-name {
    width: 100px;
    float:right;

    color: $highlight-gray;

    position:relative;

    i {
      position:absolute;

      right: 0;
    }
  }

  h1 {
    font-weight: bold;

    font-size: 1.2em;

    padding: 0 0 10px 0;

    color: $appMainColor;

    border-bottom: 1px solid $highlight-gray;
  }

  button {
    display:block;
    font-family: $mallanna;
    border: none;
    background-color: unset;
  }

  .directional-buttons {
    .direction-button {
      width: 150px;

      border-bottom: 1px solid $highlight-gray;

      padding: 5px;

      font-size: 1.05em;

      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $appMainColor;
      }
    }

    .next {
      float: right;
      text-align: right;
    }

    .prev {
      float:left;
      text-align: left;
    }
  }
}


.lesson-list {
  width: 100%;
  overflow:hidden;

  .lesson {
    width: 120px;
    height: 120px;

    margin-left: 10px;
    margin-bottom: 10px;

    float:left;

    padding: 50px 20px 20px 23px;

    border-radius: 100px;

    background-color: white;

    h1 {
      color: $appMainColor;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .passed-lesson {
    @extend .lesson;

    position:relative;

    border: 1px solid green;

    i {
      position: absolute;
      color: green;

      left: 51px;
      top: 80px;
    }
  }

  .unpassed-lesson {
    @extend .lesson;

    background-color: unset;

    border: 1px solid $highlight-gray;

    h1 {
      font-weight: normal;
      color: $highlight-gray;
    }

    &:hover {
      cursor: auto;
    }
  }

  .lesson-start-item {
    background-color: white;
    color: $text-color-gray;

    width: 480px;

    overflow:hidden;
    margin: 0 auto;

    margin-top: 30px;
    margin-left: 220px;

    border-radius: 10px;

    padding: 20px;

    h1 {
      border-bottom: 1px solid $highlight-gray;
      color: $appMainColor;

      font-size: 1.3em;
      font-weight: bold;

      padding: 10px 10px 10px 0;
    }

    p {
      font-size: 1.2em;
      line-height: 1.4em;
    }
  }
}