.lesson-list {

  width: 660px;
  float:left;

  .lesson {
    width: 120px;
    height: 120px;

    margin-left: 10px;

    float:left;

    padding: 50px 20px 20px 23px;

    border-radius: 100px;

    background-color: white;

    h1 {
      color: $appMainColor;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .unpassed-lesson {
    @extend .lesson;

    background-color: unset;

    border: 1px solid $highlight-gray;

    h1 {
      font-weight: normal;
      color: $highlight-gray;
    }

    &:hover {
      cursor: auto;
    }
  }

  .lesson-start-item {
    background-color: white;
    color: $text-color-gray;

    border-radius: 10px;

    padding: 10px;

    h1 {
      border-bottom: 1px solid $highlight-gray;
      color: $appMainColor;

      font-size: 1.3em;
      font-weight: bold;

      padding: 10px 10px 10px 0;
    }

    p {
      font-size: 1.2em;
      line-height: 1.4em;
    }
  }
}