.lesson-dashboard {
  width: 1020px;
  float:left;

  background-color: white;

  padding: 10px;

  border-radius: 10px;

  .lesson-name {
    width: 100px;
    float:right;

    color: $highlight-gray;

    position:relative;

    i {
      position:absolute;

      right: 0;
    }
  }

  h1 {
    font-weight: bold;

    font-size: 1.2em;

    padding: 0 0 10px 0;

    color: $appMainColor;

    border-bottom: 1px solid $highlight-gray;
  }

  .lesson-text {
    // to be implemented
  }

  button {
    display:block;
    font-family: $spectralFont;
    border: none;
    background-color: unset;
  }

  .directional-buttons {
    .direction-button {
      width: 150px;

      border-bottom: 1px solid $highlight-gray;

      padding: 5px;

      font-size: 1.05em;

      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $appMainColor;
      }
    }

    .next {
      float: right;
      text-align: right;
    }

    .prev {
      float:left;
      text-align: left;
    }
  }
}