.method-navigation {
  width: 160px;
  float:left;

  border-right: 1px solid white;

  padding-top: 30px;

  .nav-item {
    width: 120px;
    height: 120px;
    overflow:hidden;
    position: relative;

    margin-left: 20px;

    border-radius: 70px;

    margin-bottom: 10px;

    background-color: white;

    -webkit-transition: color 0.5s, margin-left 0.5s;
    -moz-transition: color 0.5s, margin-left 0.5s;
    -ms-transition: color 0.5s, margin-left 0.5s;
    -o-transition: color 0.5s, margin-left 0.5s;
    transition: color 0.5s, margin-left 0.5s;

    &:hover {
      cursor: pointer;

      color: $appMainColor;

      margin-left: 35px;
    }

    &:hover span, &:hover i {
      color: $appMainColor;
    }

    a {
      position:absolute;
      top: 0;
      left: 0;
      color: $highlight-gray;

      display:block;

      padding: 100px;
    }


    i {
      display: block;
      position: absolute;
      left: 45px;
      top: 30px;
    }

    span {
      display:block;
      position:absolute;
      left: 25px;
      top: 70px;
      text-align: center;

      font-weight: bold;
    }
  }

  .position-nav-item {
    margin-left: 35px;
  }

  .highlight-nav-item {
    color: $appMainColor;
  }

  .lesson-item {
    padding: 25px 0 25px 30px;

    i {
      left: 40px;
      top: 30px;
    }

    span {
      left: 35px;
    }
  }

  .vocabulary-item {
    padding: 25px 0 25px 38px;
  }

  .game-item {
    padding: 25px 0 25px 35px;

    i {
      left: 42px;
      top: 30px;
    }

    span {
      left: 35px;
    }
  }

  .trophy-item {
    padding: 25px 0 25px 38px;

    i {
      left: 46px;
      top: 30px;
    }

    span {
      left: 30px;
    }
  }
}