.item-list {
  width: 100%;
  overflow:hidden;

  .item {
    width: 120px;
    height: 120px;

    margin-left: 16px;
    margin: 10px 0 10px 16px;

    float:left;

    padding: 50px 20px 20px 23px;

    border-radius: 100px;

    background-color: white;

    border: 1px solid $appMainColor;

    h1 {
      color: $appMainColor;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .passed-item {
    @extend .item;

    position:relative;

    border: 1px solid green;

    i {
      position: absolute;
      color: green;

      left: 51px;
      top: 80px;
    }
  }

  .unpassed-item {
    @extend .item;

    position: relative;

    background-color: unset;

    border: 1px solid $highlight-gray;

    h1 {
      font-weight: normal;
      color: $highlight-gray;
    }

    &:hover {
      cursor: auto;
    }

    i {
      position: absolute;
      color: $highlight-gray;

      left: 55px;
      top: 80px;
    }
  }

  .item-start-item {
    background-color: white;
    color: $text-color-gray;

    width: 480px;

    overflow:hidden;
    margin: 0 auto;

    margin-top: 30px;

    border-radius: 10px;

    padding: 20px;

    h1 {
      border-bottom: 1px solid $highlight-gray;
      color: $appMainColor;

      font-size: 1.3em;
      font-weight: bold;

      padding: 10px 10px 10px 0;
    }

    p {
      font-size: 1.2em;
      line-height: 1.4em;
    }
  }
}