.sidebar-helper {
  width: 300px;
  float:right;

  margin-top: 30px;

  .sidebar {
    width: 280px;

    overflow:hidden;

    padding: 0 10px 10px 10px;

    margin: 0 auto;

    margin-bottom: 10px;

    background-color: white;

    border-radius: 10px;

    .sidebar-item {
      width: 100%;
      float:left;

      position:relative;
      color: $text-color-gray;

      border-bottom: 1px solid $highlight-gray;

      padding-bottom: 10px;

      p {
        width: 100%;
        float: left;
        padding-left: 20px;

        word-wrap: break-word;
        line-height: 1.2em;
      }

      i {
        position:absolute;
        top: 0;
        left: 0;
      }
    }

    h1 {
      position:relative;

      width: 100%;
      float:left;

      padding: 10px 10px 10px 0;

      font-size: 1.2em;

      font-weight: bold;

      color: $appMainColor;

      border-bottom: 1px solid $highlight-gray;

      margin-bottom: 20px;

      i {
        position:absolute;

        right: 0;
        top: 13px;

        color: $highlight-gray;
      }
    }
  }

  .progress-sidebar {
    height: 300px;


  }
}