.sidebar-helper {
  width: 300px;
  float:right;

  margin-top: 30px;

  .sidebar {
    width: 280px;

    overflow:hidden;

    padding: 0 10px 10px 10px;

    margin: 0 auto;

    margin-bottom: 10px;

    background-color: white;

    h1 {
      position:relative;

      width: 100%;
      float:left;

      padding: 10px 10px 10px 0;

      font-size: 1.2em;

      font-weight: bold;

      color: $appMainColor;

      border-bottom: 1px solid $highlight-gray;

      i {
        position:absolute;

        right: 0;
        top: 13px;

        color: $highlight-gray;
      }
    }
  }

  .notification-sidebar {
    height: 300px;
  }

  .progress-sidebar {

  }
}