{% extends '::Public/base.html.twig' %}

{% block content %}
    <div class="container-full-width align-left" id="landing-page">

        <div class="greeting-wrapper">
            <div class="align-left full-width greeting">
                <h1 class="main-title-1 full-width align-left margin-bottom-10 margin-left-10">LEARN A LANGUAGE</h1>
                <h1 class="main-title-2 full-width align-left"><span>and</span> BE THE WORLD</h1>
            </div>

            <div class="actions margin-bottom-10">
                <a href="{{ path('armor_user_register')}}" class="sign-up">Start learning</a>
            </div>
        </div>
    </div>
{% endblock %}