<script type="text/ng-template" id="coursePage.html">
    <div class="course">
        <div ng-if="coursePage.waiting == true" class="fluid-container">
            <p class="waiting margin-top-50">Please wait...</p>
        </div>

        <div ng-if="coursePage.notFound == true" class="fluid-container">
            <p class="waiting margin-top-50">Course could not be found</p>
        </div>

        <div ng-if="coursePage.show == true" class="course-page">
            {% include '::Admin/CoursePage/coursePage.html.twig' %}
        </div>
    </div>
</script>