{% extends '::Admin/Course/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Create new game</h1>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">
            <div id="react-new-game"></div>
        </div>
    </div>
{% endblock %}