{% extends '::Admin/Course/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Games - create new game</h1>
        </div>

        <div id="react-create-game-app">

        </div>
    </div>
{% endblock %}