{% extends '::Admin/Course/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language" id="react-game-create-app">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Games</h1>
            <a href="{{ path('admin_game_create_get', {'courseId' : course.id}) }}" class="main-action-link align-right margin-top-30">Create</a>
        </div>

    </div>
{% endblock %}