{% extends '::Admin/base.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Words - create new word</h1>
        </div>

        {% if no_language is defined %}
            <p class="full-width align-left no-data-message margin-top-30">There are no created languages</p>
        {% endif %}

        {% if form is defined %}
            <div class="full-width align-left margin-top-30 page-content form">
                <form action="{{ path('word_create') }}" method="POST" class="form" name="addWordForm" enctype="multipart/form-data" novalidate>
                    <div class="margin-top-40 align-left full-width">
                        <div class="form-error full-width align-right">
                            {{ form_errors(form) }}
                        </div>

                        {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.language } only %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name } only %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.type } only %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.categories } only %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.wordImage } only %}

                        {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Create'} %}
                    </div>

                    {{ form_widget(form._token) }}
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}