{% extends '::Admin/base.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Words</h1>
            {% if working_language is not empty %}
                <a href="{{ path('word_create') }}" class="main-action-link align-right margin-top-30">Create</a>
            {% endif %}
        </div>

        {% if working_language is not empty %}
            {% if internal_error is defined %}
                <p class="no-data-message">No words have been added</p>
            {% endif %}

            {% if words is defined %}
                <div class="full-width align-left margin-top-30 page-content">
                    {% for word in words %}
                        <div class="card full-width align-left margin-bottom-10">
                            <a class="base-action-link align-left" href="#">{{ word.word }}</a>
                            <a class="sub-base-action-link align-right" href="{{ path('word_edit', {'id': word.id}) }}">Edit</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <p class="no-data-message full-width align-left margin-top-30">Working language has not been selected</p>
        {% endif %}
    </div>
{% endblock %}