{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Words</h1>
            <a href="{{ path('admin_word_create') }}" class="main-action-link align-right margin-top-30">Create</a>
        </div>

    {% if words is empty %}
        <p class="no-data-message">No words have been added</p>
    {% endif %}

    {% if words is not empty %}
        <div class="full-width align-left margin-top-30 page-content">
            {% for word in words %}
                <div class="card full-width align-left margin-bottom-10">
                    <a class="base-action-link align-left" href="#">{{ word.name }}</a>
                    <a class="danger-action-link align-right" href="{{ path('admin_word_remove', {'id': word.id}) }}"><i class="fa fa-remove"></i></a>
                    <a class="sub-base-action-link align-right" href="{{ path('admin_word_edit', {'id': word.id}) }}"><i class="fa fa-edit"></i></a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}