<script type="text/ng-template" id="categoryDropdown.html">
    <div class="align-left full-width">
        <div class="align-left full-width">
            <div dropdown-select="categoryOptions"
                 dropdown-model="categorySelected"
                 dropdown-item-label="text"
                 class="dropdown-languages full-width" >
            </div>
        </div>
    </div>
</script>