<script type="text/ng-template" id="languageDropdown.html">
    <div class="align-left margin-top-10 full-width">
        <h1 class="nav-highlighted">Working language</h1>

        <a href="#" ng-click="chooseLanguage($event)" class="full-width align-right main-action-link">{[{ workingLanguage }]}</a>
    </div>
</script>