
<script type="text/ng-template" id="search.html">
    <div class="margin-top-50 search-container full-width">
        <div>
            <div class="autocomplete-search center">
                <input
                        type="text"
                        class="block full-width search-input"
                        placeholder="search for words..."
                        ng-keyup="search.search($event)"
                        ng-model="search.input"
                />
            </div>

            <div ng-if="search.waiting" class="full-width align-left margin-top-50 margin-bottom-50">
                <p class="no-data-message">... please wait ... </p>
            </div>

            <div ng-if="search.waiting == false" class="full-width align-left margin-top-50">
                <div class="align-left relative button-wrapper">
                    <img src="{{ asset('images/loading.gif') }}" ng-show="search.previousLoading" class="loading absolute left-loading">
                    <button class="block align-left left-button" ng-click="search.previous()">Previous</button>
                </div>

                <div class="align-right relative button-wrapper right-button">
                    <img src="{{ asset('images/loading.gif') }}" ng-show="search.nextLoading" class="loading absolute">
                    <button class="block align-right" ng-click="search.next()">Next</button>
                </div>
            </div>

            <div ng-if="search.noWords" class="full-width align-left margin-top-50 margin-bottom-50">
                <p class="no-data-message">... no words found in {[{ search.currentLanguage }]} language ...</p>
            </div>

            <div ng-if="search.noWordsSearch" class="full-width align-left margin-top-50 margin-bottom-50">
                <p class="no-data-message">... no words found for search '{[{ search.input }]}' for {[{ search.currentLanguage }]} language </p>
            </div>

            <div ng-if="search.waiting == false" class="full-width align-left margin-top-50 search-list">
                <div ng-repeat="block in search.foundWords" class="full-width align-left margin-bottom-30">
                    <div ng-repeat="word in block" class="search-list-item align-left">
                        <h2 class="full-width relative">{[{ word.word }]}
                            <span class="remove-cover full-width absolute"></span>
                            <a href="#" ng-click="search.removeWord($event, word.id)" class="absolute remove-button fa fa-remove"></a>
                        </h2>

                        <p ng-if="word.type != null" class="full-width margin-top-20 margin-bottom-20 word-type">{[{ word.type }]}<i ng-if="word.category != null"> | {[{ word.category }]}</i></p>

                        <p ng-if="word.type == null" class="full-width margin-top-20 margin-bottom-20 word-type type-not-specified">type not specified...</p>

                        <div class="full-width align-left translations">
                            <p ng-repeat="translation in word.translations track by $index" class="margin-bottom-10"> - {[{ translation }]}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>