.form {
  .form-field {
    padding: 10px;
  }

  .field-break {
    border-bottom: 1px solid $highlight-gray;
  }

  .success {
    color: green;
    padding: 10px;
  }

  label, input[type="text"], select {
    font-size: 1.2em;
    font-family: $app-font;

    padding: 10px;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  select {
    background-color: white;

    border: 1px solid $highlight-gray;

    border-bottom: 4px solid $main-color;
  }

  textarea {
    line-height: 1.8em;

    font-size: 1.05em;

    padding: 10px;
  }

  label {
    width: 100%;
    display:block;
    float:left;

    margin-bottom: 20px;
  }

  input[type="text"] {
    padding: 10px 10px 10px 0;

    border: 1px solid $highlight-gray;
  }

  .collection-holder {
    input[type="text"] {
      float:left;
    }

    input[type="checkbox"] {
      float:left;
    }
  }

  .form-error {
    color: $main-color;
    padding: 10px 10px 10px 0;
  }
}