{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Categories - create new category</h1>
        </div>

            <div class="full-width align-left margin-top-30 page-content form">
                <form action="{{ path('admin_category_create') }}" method="POST" class="form" name="addCategoryForm" novalidate>
                    <div class="margin-top-40 align-left full-width">

                        {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                        {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name, 'description': 'name of the category' } only %}

                        {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Create'} %}
                    </div>

                    {{ form_rest(form) }}
                </form>
            </div>
    </div>
{% endblock %}