/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: black;
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  background-color: #efefef; }

.container, .fluid-container {
  width: 1024px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-width: 480px;
  max-width: 1024px; }

.container-full-width {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 1920px; }

.fluid-container {
  width: 75%; }

.center {
  margin: 0 auto; }

.text-center {
  text-align: center; }

.block {
  display: block; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.full-width {
  width: 100%; }

.input-text-error {
  border: 1px solid #fc571b; }

.align-left {
  float: left; }

.align-right {
  float: right; }

.bold {
  font-weight: bold; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-top-50 {
  margin-top: 50px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.text-highlight {
  color: #fc571b; }

.form .form-field {
  padding: 10px; }
.form .field-break {
  border-bottom: 1px solid #b5b3b3; }
.form .success {
  color: green;
  padding: 10px; }
.form label, .form input[type="text"], .form select {
  font-size: 1.2em;
  font-family: "Inconsolata", monospace;
  padding: 10px; }
.form select {
  background-color: white;
  border: 1px solid #b5b3b3;
  border-bottom: 4px solid #fc571b; }
.form label {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 20px; }
.form input[type="text"] {
  padding: 10px 10px 10px 0;
  border: 1px solid #b5b3b3; }
.form .form-error {
  color: #fc571b;
  padding: 10px 10px 10px 0; }

header {
  background-color: #fc571b;
  padding: 10px 10px 5px 10px; }
  header .main-title {
    font-family: "Farsan", cursive;
    font-size: 2em; }
    header .main-title a {
      color: white; }

.main-action-link {
  padding: 10px 30px 10px 30px;
  font-size: 1.1em;
  background-color: white;
  color: #2d2d2d;
  border-bottom: 4px solid #b5b3b3; }
  .main-action-link:hover {
    border-bottom: 4px solid #fc571b;
    color: #fc571b; }

.base-action-link {
  display: block;
  padding: 10px;
  color: #2d2d2d; }

.sub-base-action-link {
  color: #47c1ff;
  padding: 10px;
  margin-left: 20px; }
  .sub-base-action-link:hover {
    color: #008db5; }

.page .page-title {
  font-size: 1.5em;
  padding: 10px;
  color: #2d2d2d;
  border-bottom: 1px solid #b5b3b3;
  background: white; }
.page .page-content {
  background-color: white;
  padding: 10px; }
.page .card {
  border: 1px solid white; }
  .page .card:hover {
    border-bottom: 1px solid #b5b3b3; }
  .page .card:hover .base-action-link {
    color: #fc571b; }

.modal-container {
  width: 100%; }
  .modal-container textarea {
    resize: none; }
  .modal-container .nav-container {
    width: 100px;
    margin-left: 20px; }
  .modal-container .modal-highlight-breakpoint {
    border-bottom: 1px solid #b5b3b3;
    padding: 5px 5px 5px 0; }
  .modal-container .remove-translation {
    top: 28px;
    right: 10px;
    color: #b5b3b3; }
  .modal-container .remove-translation:hover {
    color: #fc571b; }
  .modal-container .nav-link {
    display: block;
    width: 100%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #b5b3b3;
    color: #2d2d2d; }
  .modal-container .nav-text-input {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 1.04em;
    font-family: "Inconsolata", monospace; }
  .modal-container .nav-button-small {
    width: 35%;
    font-size: 0.8em;
    background: none;
    border: none;
    padding: 3px;
    text-align: right;
    color: #b5b3b3; }
  .modal-container .nav-button-small:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #2d2d2d; }
  .modal-container .collapseable {
    position: relative; }
    .modal-container .collapseable i {
      display: block;
      width: 100%;
      float: left;
      font-size: 0.6em;
      font-style: italic;
      line-height: 1.4em; }
  .modal-container .language-error {
    font-size: 0.9em;
    color: #fc571b; }

.nav-menu {
  width: 175px; }

.nav-menu-container {
  width: 100%;
  background-color: white; }
  .nav-menu-container .nav-link {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid #b5b3b3; }
    .nav-menu-container .nav-link i {
      display: block;
      color: #fc571b;
      position: absolute;
      top: 10px;
      left: 150px; }
  .nav-menu-container .nav-link:hover i {
    color: white; }
  .nav-menu-container .nav-link:hover {
    background-color: #fc571b;
    color: white; }
  .nav-menu-container .nav-highlighted {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #b5b3b3;
    color: #2d2d2d; }

.search .search-container .button-wrapper .left-button {
  text-align: left; }
.search .search-container .button-wrapper .left-loading {
  left: 105px; }
.search .search-container .button-wrapper button {
  background: white; }
  .search .search-container .button-wrapper button:hover {
    background-color: #fc571b;
    color: white;
    cursor: pointer; }
.search .search-container .autocomplete-search {
  width: 480px; }
  .search .search-container .autocomplete-search input[type=text] {
    padding: 10px;
    font-size: 1.5em;
    font-family: "Inconsolata", monospace;
    border-radius: 5px;
    border: 1px solid #b5b3b3; }
.search .search-container .loadMore {
  width: 200px;
  border: none;
  text-align: center;
  color: #2d2d2d;
  background: white;
  font-size: 1.2em;
  padding: 5px;
  font-family: "Inconsolata", monospace;
  border-bottom: 1px solid #fc571b; }
.search .search-container .loadMore:hover {
  cursor: pointer; }
.search .search-container .search-list .search-list-item {
  width: 240px;
  margin-left: 13px; }
  .search .search-container .search-list .search-list-item h2 {
    white-space: initial;
    word-wrap: break-word;
    text-align: center;
    background-color: white;
    color: #2d2d2d;
    font-size: 1.8em;
    padding: 5px;
    border-radius: 5px; }
    .search .search-container .search-list .search-list-item h2 .remove-button, .search .search-container .search-list .search-list-item h2 .loading {
      left: 210px;
      color: #b5b3b3; }
    .search .search-container .search-list .search-list-item h2 .loading {
      display: block;
      width: 25px;
      height: 25px;
      top: 7px; }
    .search .search-container .search-list .search-list-item h2 .remove-button:hover i {
      color: #fc571b; }
.search .search-container .search-list p {
  word-wrap: break-word;
  white-space: initial;
  font-style: italic;
  color: #2d2d2d; }
.search .search-container .search-list .word-type {
  border-bottom: 1px dotted #b5b3b3;
  padding-bottom: 2px; }
.search .search-container .search-list .type-not-specified {
  color: #fc571b; }
.search .search-container .search-list .translations p {
  width: 80%;
  margin-left: 10%; }

.course-menu {
  width: 300px; }

.course-class .generic-page {
  padding: 15px;
  background: white; }
  .course-class .generic-page .course-deck-sounds {
    border-bottom: 1px solid #b5b3b3;
    font-family: "Inconsolata", monospace;
    color: #2d2d2d;
    padding: 10px; }
  .course-class .generic-page input[type="text"] {
    font-size: 1.2em;
    font-family: "Inconsolata", monospace;
    padding: 5px;
    border: 1px solid #b5b3b3; }
  .course-class .generic-page .button-wrapper {
    margin-top: 1px; }
  .course-class .generic-page textarea {
    width: 100%;
    resize: none;
    font-size: 1em; }
  .course-class .generic-page .collapseable-fields .remove-translation {
    top: 10px;
    right: 10px;
    color: #b5b3b3; }
  .course-class .generic-page .collapseable-fields .remove-translation:hover {
    cursor: pointer;
    color: #fc571b; }
  .course-class .generic-page .collapseable-fields .mark-checked {
    top: 40px;
    right: 10px;
    color: #b5b3b3; }
  .course-class .generic-page .collapseable-fields .update-translation {
    top: 70px;
    right: 10px;
    color: #b5b3b3; }
  .course-class .generic-page .collapseable-fields .update-translation:hover {
    color: blue; }
  .course-class .generic-page .collapseable-fields .mark-checked:hover {
    color: green; }
  .course-class .generic-page .collapseable-fields .button-small {
    width: 150px;
    font-size: 1em;
    background: none;
    border: none;
    padding: 3px;
    text-align: right;
    color: #b5b3b3;
    border-bottom: 1px solid #b5b3b3; }
    .course-class .generic-page .collapseable-fields .button-small:hover {
      cursor: pointer;
      color: #2d2d2d;
      border-bottom: 1px solid #2d2d2d; }
  .course-class .generic-page .collapseable-fields i {
    display: block;
    width: 100%;
    float: left;
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.4em; }
  .course-class .generic-page .separator {
    padding: 10px 10px 10px 0;
    font-size: 1.2em;
    border-bottom: 1px solid #b5b3b3; }
  .course-class .generic-page .ace_editor {
    border: 1px solid #b5b3b3;
    height: 400px; }
  .course-class .generic-page .deck-option {
    width: 15%;
    margin-left: 10px; }
  .course-class .generic-page .dropdown-deck {
    width: 220px; }

.dashboard .button-wrapper button {
  width: 150px; }
.dashboard .button-wrapper .loading {
  left: 20px; }
.dashboard .button-wrapper .success {
  left: 20px; }
.dashboard .class-button {
  background: white;
  color: #2d2d2d;
  border: none;
  border-bottom: 1px solid #b5b3b3;
  padding: 10px;
  font-size: 1.2em;
  text-align: left;
  font-family: "Inconsolata", monospace; }
  .dashboard .class-button:hover {
    cursor: pointer;
    border-bottom: 1px solid #fc571b; }
  .dashboard .class-button i {
    margin-right: 15px;
    color: #fc571b; }
.dashboard .lesson-button {
  border: none;
  background: white;
  color: #2d2d2d;
  padding: 30px;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 1.3em;
  border-bottom: 1px solid #b5b3b3; }
  .dashboard .lesson-button:hover {
    color: white;
    background: #fc571b;
    cursor: pointer; }
.dashboard .level {
  width: 98%;
  padding-left: 10px;
  border-left: 1px solid #b5b3b3; }

.language .non-working-language {
  color: #b5b3b3; }
.language .working-language {
  color: green; }

.ngdialog {
  box-sizing: border-box; }

.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  box-sizing: inherit; }

.ngdialog {
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0; }

.ngdialog-content {
  overflow: hidden;
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  pointer-events: all; }

.ngdialog-overlay {
  position: fixed;
  background: rgba(252, 87, 27, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s; }

.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: white;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px; }

.wrap-dd-select {
  position: relative;
  width: 175px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #fff;
  border-bottom: 1px solid #b5b3b3;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  font-weight: normal;
  border-radius: 0 0 0 0;
  color: #2d2d2d; }

.wrap-dd-select:hover {
  background: #fc571b;
  color: white; }

.wrap-dd-select .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  padding: 0;
  border-radius: 0 0 0 0;
  border: none;
  border-bottom: 1px solid #b5b3b3;
  box-shadow: none;
  font-weight: normal;
  list-style: none;
  visibility: hidden;
  max-height: 300px;
  overflow-y: auto;
  /*Provide an auto overflow to display scroll*/
  margin-top: 10px; }

.wrap-dd-select .dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #2d2d2d;
  border-bottom: 1px solid #b5b3b3;
  box-shadow: none;
  cursor: pointer;
  font-family: "Inconsolata", monospace; }

.wrap-dd-select .dropdown li:first-of-type a {
  border-radius: 0 0 0 0; }

.wrap-dd-select .dropdown li:last-of-type a {
  border-radius: 0 0 0 0;
  border: none; }

.wrap-dd-select .dropdown li:hover a {
  background: #fc571b;
  color: white; }

@media only screen and (max-width: 480px) {
  .nav-menu {
    width: 100%; }

  .nav-menu-container .nav-link {
    font-size: 1.2em;
    padding: 15px 15px 15px 10px; }
    .nav-menu-container .nav-link i {
      top: 15px;
      left: 400px; }
  .nav-menu-container .nav-highlighted {
    font-size: 1.2em;
    padding: 15px 15px 15px 10px; }

  .language-dropdown {
    margin-top: 30px; }

  .wrap-dd-select {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    padding: 15px 15px 15px 10px; }

  .search .search-container .autocomplete-search {
    width: 350px; }
  .search .no-words-message {
    font-size: 1.2em !important;
    color: #2d2d2d;
    text-align: center;
    margin-top: 20px !important; }
  .search .search-list .search-list-item {
    width: 100% !important;
    margin-bottom: 30px !important; } }
@media only screen and (min-width: 480px) and (max-width: 712px) {
  .nav-menu-container .nav-link {
    font-size: 1.2em;
    padding: 15px 15px 15px 10px; }
    .nav-menu-container .nav-link i {
      top: 15px;
      left: 400px; }
  .nav-menu-container .nav-highlighted {
    font-size: 1.2em;
    padding: 15px 15px 15px 10px; }

  .nav-menu {
    width: 500px;
    float: none;
    margin: 0 auto; }
    .nav-menu .language-dropdown {
      margin-top: 30px; }
    .nav-menu .wrap-dd-select {
      width: 100%;
      font-size: 1.2em;
      text-align: center;
      padding: 15px 15px 15px 10px; }

  .search .search-container .autocomplete-search {
    width: 480px; }
  .search .no-words-message {
    font-size: 1.2em !important;
    color: #2d2d2d;
    text-align: center;
    margin-top: 20px !important; }
  .search .search-list .search-list-item {
    width: 100% !important;
    margin-bottom: 30px !important; } }
.main-page.ng-enter, .main-page.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.main-page.ng-enter,
.main-page.ng-leave.ng-leave-active {
  opacity: 0; }

.main-page.ng-leave,
.main-page.ng-enter.ng-enter-active {
  opacity: 1; }

.course-page.ng-enter, .course-page.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.course-page.ng-enter,
.course-page.ng-leave.ng-leave-active {
  opacity: 0; }

.course-page.ng-leave,
.course-page.ng-enter.ng-enter-active {
  opacity: 1; }

.search.ng-enter, .search.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.search.ng-enter,
.search.ng-leave.ng-leave-active {
  opacity: 0; }

.search.ng-leave,
.search.ng-enter.ng-enter-active {
  opacity: 1; }

.error {
  width: 100%;
  font-size: 1.1em;
  color: #fc571b;
  padding: 5px; }

.small-button {
  border: none;
  background: none;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #b5b3b3; }
  .small-button:hover {
    cursor: pointer; }

.button-wrapper {
  width: 200px; }
  .button-wrapper .loading {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 70px;
    top: 5px; }
  .button-wrapper .success {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 70px;
    top: 10px;
    color: green; }
  .button-wrapper button {
    width: 100px;
    display: block;
    font-family: "Inconsolata", monospace;
    font-size: 1.1em;
    padding: 7px;
    background: none;
    border: none;
    color: #2d2d2d;
    text-align: right;
    border-bottom: 1px solid #b5b3b3;
    transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.5s, color 0.3s; }
    .button-wrapper button:hover {
      background-color: #fc571b;
      color: white;
      cursor: pointer; }

.no-data-message {
  font-size: 2em;
  color: #2d2d2d;
  text-align: center; }

/*# sourceMappingURL=admin.css.map */
