<div>
    <nav>
        {% include '::Admin/CoursePage/includes/_courseMenu.html.twig' %}
    </nav>

    <div class="course-nof-found-error fluid-container">
        <course-dashboard course="course"></course-dashboard>
    </div>
</div>