{% extends '::Admin/Course/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Word pool</h1>
            <a href="{{ path('word_pool_create', {'courseId' : course.id}) }}" class="main-action-link align-right margin-top-30">Create</a>
        </div>

        {% if wordPool is empty %}
            <p class="no-data-message">No words have been added in this word pool</p>
        {% endif %}

        {% if wordPool is not empty %}
            <div class="full-width align-left margin-top-30 page-content">
                {% for word in wordPool %}
                    <div class="card full-width align-left margin-bottom-10">
                        <a class="base-action-link align-left" href="#">{{ wordPool.name }}</a>
                        <a class="sub-base-action-link align-right" href="#"><i class="fa fa-edit"></i></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}