<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}LangLand{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/public.css') ~ '?v=' ~ random(9999999) }}" />
    {% endblock %}

</head>

<body>

<div class="container-full-width">

    {% include 'Public/header.html.twig' %}

    {% block content %}{% endblock %}

</div>

</body>
</html>
