<header class="full-width align-left" id="header">

    <div class="logo align-left">

    </div>

    <div class="actions align-right">
        <a href="{{ path('armor_user_login')}}" class="margin-right-20">Login</a>
    </div>
</header>