<div class="full-width align-left form-field field-break">
    {{ form_label(field) }}
    {{ form_widget(field) }}
    <div class="form-error full-width align-right">
        {{ form_errors(field) }}
    </div>
</div>