<script type="text/ng-template" id="gameModal.html">
    <div class="modal-container">
        <form class="form" name="chooseGameForm" novalidate>
            <h1 class="modal-highlight-breakpoint margin-bottom-30">Choose a game</h1>

            <div class="nav-menu-container game-menu">
                <div class="align-left nav-menu-container">
                    <a href="#" ng-click="timeTrial()" class="nav-link">Time trial<i class="fa fa-clock-o"></i></a>
                    <a href="#" class="nav-link">Randomizer<i class="fa fa-random"></i></a>
                    <a href="#" class="nav-link">Speller<i class="fa fa-mortar-board"></i></a>
                </div>
            </div>

            <div ng-if="game.timeTrial.show" class="full-width align-left margin-top-30 time-trial-game">
                <h1 class="modal-highlight-breakpoint margin-bottom-30">Time trial</h1>

                <p class="full-width align-left margin-bottom-30">Race the clock to win. Are you fast enough?</p>

                <div class="full-width align-left game-conditions">
                    <div class="standard-form margin-top-20">
                        <label>Number of seconds</label>
                        <input ng-model="game.timeTrial.numberOfSeconds" type="text" value="{[{ game.timeTrial.numberOfSeconds }]}" />
                    </div>
                    <i>* 5 seconds is minimal</i>
                </div>

                <div class="full-width align-left relative margin-top-50 margin-bottom-20">
                    <img src="{{ asset('images/loading.gif') }}" ng-show="loading" class="loading absolute">
                    <b class="fa fa-check fa-lg success absolute" ng-show="success"></b>
                    <button type="submit" class="nav-button-main align-right">Start game</button>
                </div>
            </div>
        </form>
    </div>
</script>