<script type="text/ng-template" id="sentenceLearning.html">
    <div class="full-width align-left">
        <div class="full-width align-left">
            <button ng-click="page.open()" class="full-width align-left class-button margin-bottom-10"><i class="fa fa-font"></i>Sentence learning</button>
        </div>

        <div ng-if="page.visible" class="level align-right margin-top-30 margin-bottom-30">
            <div class="full-width align-left generic-page">
                <form name="addSentenceForm" method="POST">
                    <div class="full-width align-left margin-bottom-30">
                        <h1 class="separator">Internal name</h1>
                    </div>

                    <div class="full-width align-left margin-bottom-30">
                        <autocomplete click-activation="true" no-auto-sort ng-model="sentence.internal_name" data="page.internalNames" on-select="page.fetchSentence"></autocomplete>
                    </div>

                    <div class="full-width align-left margin-bottom-30">
                        <h1 class="separator">Sentence</h1>
                    </div>

                    <div class="full-width align-left margin-bottom-30">
                        <textarea rows="5" ng-model="sentence.sentence" class="full-width block align-left" placeholder="add sentence ..."></textarea>
                    </div>

                    <div class="full-width align-left margin-bottom-30">
                        <h1 class="separator">Sentence translations</h1>
                    </div>

                    <div class="full-width align-left margin-bottom-30 collapseable-fields">
                        <div ng-repeat="translation in sentence.translations" class="relative full-width align-left margin-bottom-10 translation-field">
                            <textarea rows="7" class="translation" placeholder="add possible translation ..." ng-value="translation.translation"></textarea>
                            <a ng-if="!translation.id" href="#" ng-click="page.removeDomTranslation($index)" class="absolute remove-translation">Remove</a>
                            <a ng-if="translation.id" href="#" ng-click="page.removeDbTranslation(translation.id, $index)" class="absolute remove-translation">Delete</a>
                            <a ng-if="translation.id" href="#" ng-click="page.updateTranslation(translation.id)" class="absolute update-translation">Update</a>
                            <a ng-if="translation.id" href="#" class="absolute mark-checked">Correct</a>
                        </div>

                        <div class="full-width align-left">
                            <button class="button-small align-right margin-top-10" ng-click="page.addTranslationField()">add translation</button>
                        </div>
                    </div>

                    <p ng-repeat="error in page.serverErrors track by $index" class="error margin-bottom-10 align-left">{[{ error }]}</p>

                    <div ng-if="page.newSentence" class="align-right relative button-wrapper">
                        <img src="{{ asset('images/loading.gif') }}" ng-show="page.loading" class="loading absolute">
                        <b class="fa fa-check fa-lg success absolute" ng-show="page.success"></b>
                        <button class="align-right" ng-click="sentence.create()">Add sentence</button>
                    </div>

                    <div ng-if="page.oldSentence" class="align-right relative button-wrapper">
                        <img src="{{ asset('images/loading.gif') }}" ng-show="page.loading" class="loading absolute">
                        <b class="fa fa-check fa-lg success absolute" ng-show="page.success"></b>
                        <button class="align-right" ng-click="sentence.update()">Update sentence</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>