<script type="text/ng-template" id="courseDashboard.html">
    <div class="fluid-container full-width dashboard">
        <h1 class="page-title full-width align-left margin-top-30 margin-bottom-30">{[{ course.name }]}</h1>

        <h2 class="page-sub-title full-width align-left margin-bottom-30">Classes</h2>

        <p ng-if="course.classes == false && course.waiting == true" class="full-width align-left no-data-message">... please, wait ...</p>
        <p ng-if="course.waiting == false && course.classes == false" class="full-width align-left no-data-message">There are no classes in this course</p>

        <div ng-repeat="individualClass in course.classes">
            <individual-class></individual-class>
        </div>
    </div>
</script>