{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Languages - create new language</h1>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('admin_language_create') }}" method="POST" class="form" name="addLanguageForm" enctype="multipart/form-data"  novalidate>
                <div class="margin-top-40 align-left full-width">
                    <div class="form-error full-width align-right">
                        {{ form_errors(form) }}
                    </div>

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name, 'description': 'add language' } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.listDescription, 'description': 'This field will be shown in frontend language list' } only %}

                    {% include '::Admin/Form/_include/imageField.html.twig' with {'field': form.image, 'description': 'Upload an icon that will be shown in the language list' } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.showOnPage, 'description': 'Is this language ready for production?' } only %}

                    {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Create'} %}
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}