{% extends '::Admin/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Languages - edit <span class="text-highlight">{{ language.name }}</span> language</h1>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('language_edit', { 'id': language.id }) }}" method="POST" class="form" name="addLanguageForm" enctype="multipart/form-data" novalidate>
                <div class="margin-top-40 align-left full-width">

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.listDescription } only %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.image } only %}

                    {% if language.image is not empty %}
                        <div class="full-width align-left">
                            <img width="56" height="56" src="{{ language.image.fullPath }}" />
                        </div>
                    {% endif %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.showOnPage } only %}

                    {% include '::Admin/Form/_include/simpleButton.html.twig' with {'value': 'Edit'} %}
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}