{% extends '::Admin/base.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Languages - edit <span class="text-highlight">{{ language.name }}</span> language</h1>
        </div>

        <div class="full-width align-left margin-top-30 page-content form">
            <form action="{{ path('language_edit', { 'id': language.id }) }}" method="POST" class="form" name="addLanguageForm" novalidate>
                <div class="margin-top-40 align-left full-width">

                    {% include '::Admin/Form/_include/flashNotice.html.twig' %}

                    {% include '::Admin/Form/_include/field.html.twig' with {'field': form.name } only %}

                    <div class="align-right relative margin-top-50 relative button-wrapper">
                        <button type="submit" class="align-right">Edit</button>
                    </div>
                </div>

                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}