{% extends '::Admin/base.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Languages</h1>
            <a href="{{ path('language_create') }}" class="main-action-link align-right margin-top-30">Create</a>
        </div>

        {% if languages is empty %}
            <p class="no-data-message">No languages have been added</p>
        {% endif %}

        {% if languages is not empty %}
            <div class="full-width align-left margin-top-30 page-content">
                {% for language in languages %}
                    <div class="card full-width align-left margin-bottom-10">
                        <a class="base-action-link align-left" href="#">{{ language.name }}</a>
                        <a class="sub-base-action-link align-right" href="{{ path('language_edit', {'id': language.id}) }}"><i class="fa fa-edit"></i></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}