.landing-page {
  .action {
    width: 70%;
    overflow: hidden;

    margin: 0 auto;
    margin-top: 15%;

    .sign-up-title {
      font-family: $mallanna;
      color: white;
      font-size: 4em;
      text-align: center;
    }

    .sign-up-buttons {

      width: 500px;

      margin: 0 auto;

      margin-bottom: 20px;

      a {
        display:block;
        float:left;

        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        width: 230px;

        font-family: $mallanna;
        background: none;

        padding: 15px;

        color:white;

        text-align: center;

        margin-left: 10px;

        border: 1px solid white;

        border-radius: 20px;

        &:hover {
          background-color: white;
          color: $publicMainColor;
        }
      }
    }
  }
}