#landing-page {
  .greeting-wrapper {
    width: 480px;
    margin: 17% auto;
    float:left;
  }

  .greeting {
    .main-title-1 {
      color: $orange1;
      font-size: 40px;
    }

    .main-title-2 {
      color: $orange2;
      font-size: 20px;

      margin-left: 199px;

      span {
        margin-right: 15px;
        font-size: 15px;
      }
    }
  }

  .actions {
    a {
      width: 100%;
      display: block;
      float: right;
      text-align: right;

      margin-top: 50px;
      margin-right: 90px;

      padding-bottom: 5px;

      color: $orange1;

      border-bottom: 1px solid $orange1;

      -webkit-transition: padding-right 0.5s, color 0.5s, border-bottom 0.5s;
      -moz-transition: padding-right 0.5s, color 0.5s, border-bottom 0.5s;
      -o-transition: padding-right 0.5s, color 0.5s, border-bottom 0.5s;
      transition: padding-right 0.5s, color 0.5s, border-bottom 0.5s;

      &:hover {
        padding-right: 10px;
        color: $orange2;
        border-bottom: 1px solid $orange2;
      }
    }
  }
}