{% extends '::Admin/Template/Panel/CourseManager/baseContent.html.twig' %}

{% block content %}
    <div class="row">
        {% include '::Admin/Template/Panel/Dashboard/_include/dashboardHeader.html.twig' %}
    </div>

    <div class="row">
        {% include '::Admin/Template/Panel/CourseManager/Dashboard/_include/panels.html.twig' %}
    </div>
{% endblock %}