{% extends '::Admin/Course/baseContent.html.twig' %}

{% block content %}
    <div class="fluid-container page language">
        <div class="full-width align-left">
            <h1 class="full-width page-title margin-top-30 align-left">Sentences</h1>
            <a href="{{ path('admin_sentence_create', {'courseId' : course.id}) }}" class="main-action-link align-right margin-top-30">Create</a>
        </div>

        {% if sentences is empty %}
            <p class="no-data-message">No sentences have been added</p>
        {% endif %}

        {% if sentences is not empty %}
            <div class="full-width align-left margin-top-30 page-content">
                {% for sentence in sentences %}
                    <div class="card full-width align-left margin-bottom-10">
                        <a class="base-action-link align-left" href="#">{{ sentence.name }}</a>
                        <a class="sub-base-action-link align-right" href="{{ path('admin_sentence_edit', {'courseId': sentence.course.id, 'sentenceId': sentence.id}) }}"><i class="fa fa-edit"></i></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}