<div class="navbar-header">
    <a class="navbar-brand" href="{{ path('admin_course_managment', {courseId: course.id}) }}">Langland - admin {% if course is defined %}| {{ course.name }} course {% endif %}</a>
</div>